*{
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(150,200,255,.1)
}

.container{
  color: rgba(100,200,255);
}

.setter{
  display: flex;
  align-items: center;
}

.timer{
  text-align: center;
  font-size: 70px;
}

.start{
  margin-top: 30px;
}

.startBtn{
  display: block;
  margin: auto;
  padding: 10px 40px;
  background-color: rgba(100,200,255,.4);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(100,200,255,.4);
}


.plus{
  border-radius: 10px;
  background-color: transparent;
  border-top: 25px solid transparent;
  border-right: transparent;
  border-left: 100px solid white;
  border-bottom: 25px solid transparent;
}
.minus{
  background-color: transparent;
  border-radius: 10px;
  border-top: 25px solid transparent;
  border-left: transparent;
  border-right: 100px solid white;
  border-bottom: 25px solid transparent;
}

button{
  outline: none;
}


.startBtn:hover{
  background-color: rgba(100,200,255);
  color: white;
}

.number{
  font-size: 70px;
  margin: 0 70px;
}
